<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Adding meta -->
    <?js if(this.meta != undefined) { ?>
    <?js this.meta.forEach(function(src){ ?>
    <meta <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding external script-->
    <?js if(this.dynamicScriptSrc != undefined) { ?>
    <?js this.dynamicScriptSrc.forEach(function(src){ ?>
    <script <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> ></script>
    <?js }) ?>
    <?js } ?>

    <!-- Adding external style-->
    <?js if(this.dynamicStyleSrc != undefined) { ?>
    <?js this.dynamicStyleSrc.forEach(function(src){ ?>
    <link <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding scripts-->
    <?js if(this.includeScript != undefined) { ?>
    <?js this.includeScript.forEach(function(source){ ?>
    <script src="<?js= source ?>"></script>
    <?js }) ?>
    <?js } ?>

    <!-- Adding style-->
    <?js if(this.includeCss != undefined) { ?>
    <?js this.includeCss.forEach(function(source){ ?>
    <link type="text/css" rel="stylesheet" href="<?js= source ?>">
    <?js }) ?>
    <?js } ?>

    <!-- Adding overlay script-->
    <?js if(this.overlayScrollbar != undefined) { ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/js/OverlayScrollbars.min.js"
      integrity="sha512-5R3ngaUdvyhXkQkIqTf/k+Noq3phjmrqlUQyQYbgfI34Mzcx7vLIIYTy/K1VMHkL33T709kfh5y6R9Xy/Cbt7Q=="
      crossorigin="anonymous"></script>
    <?js } ?>

    <!-- Adding overlay style-->
    <?js if(this.includeCss != undefined) { ?>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css"
      integrity="sha512-pYQcc5kgavar0ah58/O8hw/6Tbo3mWlmQTmvoi1i96cBz7jQYS9as5J+Nfy32rAHY6CgR9ExwnFMcBdGVcKM7g=="
      crossorigin="anonymous" />
    <?js } ?>


    <title>
      <?js= title ?>
    </title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/third-party/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="styles/third-party/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/reset.css">
    <link type="text/css" rel="stylesheet" href="styles/heading.css">
    <link type="text/css" rel="stylesheet" href="styles/clean-jsdoc-theme-base.css">
    <link type="text/css" rel="stylesheet" href="styles/<?js= this.theme ?>">
    <?js if(this.dynamicStyle != undefined ) { ?>
    <style>
      <?js= this.dynamicStyle ?>
    </style>
    <?js } ?>
    <?js= this.partial('icons.tmpl') ?>
  </head>

  <body>

    <nav class="navbar" id="navbar">
      <?js= this.nav ?>
      <?js if(this.resizeable.navbar !== undefined) { ?>
        <div class="navbar-resize" id="navbar-resize">
          <div class="resize-dots-container">
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
          </div> 
        </div>
      <?js } ?>

    </nav>
    <div class="navbar-ham" id="navbar-ham">
      <div>
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
      </div>
    </div>

    <div id="main" class="main-content">
      <?js if (title != 'Home') { ?>
      <h1 id='page-title' class="page-title">
        <?js= title ?>
      </h1>
      <?js } ?>

      <?js= content ?>
    </div>

    <footer class="footer" id="footer">
      <?js= this.footer ?>
    </footer>

    <script src="scripts/third-party/prettify.js"></script>
    <script src="scripts/third-party/lang-css.js"></script>
    <script type="text/javascript" src="scripts/misc.js"></script>

    <script>prettyPrint();</script>
    <script src="scripts/linenumber.js"></script>
    <script src="scripts/fix-code-block.js"></script>
    <script src="scripts/fix-navbar.js"></script>
    <?js if(!Boolean(this.search.options)) { ?>
      <script src="scripts/search.js"></script>
      <script src="scripts/third-party/fuse.js"></script>
      <script>
        var list = [<?js= this.search.list ?>];
        var options = <?js= this.search.options ?>
          setupSearch(list, options)
      </script>
    <?js } ?>

    <?js if(this.dynamicScript != undefined ) { ?>
    <script type="text/javascript">
        <?js= this.dynamicScript ?>
    </script>
    <?js } ?>

    <?js if(this.resizeable.navbar != undefined ) { ?>
      <script src="scripts/resize.js"></script>
      <script type="text/javascript">
        var option = <?js= JSON.stringify(this.resizeable.navbar) ?>
        setupResizeOptions(option)
      </script>
    <?js } ?>

    <?js if(this.dynamicScript != undefined ) { ?>
    <script type="text/javascript">
    <?js= this.dynamicScript ?>
    </script>
    <?js } ?>

    <?js if(this.overlayScrollbar != undefined ) { ?>
    <script type="text/javascript">
    var option = JSON.parse('<?js=this.overlayScrollbar ?>')
      console.log(option)
      document.addEventListener("DOMContentLoaded", function () {
        OverlayScrollbars(document.querySelectorAll('body'), option.option || {});
      });
    </script>
    <?js } ?>


  </body>

</html>