<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Adding favicon -->
    <?js if(this.favicon != undefined) { ?>
    <link rel="icon" href="<?js= this.favicon?>" />
    <?js } ?>

    <!-- Adding meta -->
    <?js if(this.meta != undefined) { ?>
    <?js this.meta.forEach(function(src){ ?>
    <meta <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding external script-->
    <?js if(this.dynamicScriptSrc != undefined) { ?>
    <?js this.dynamicScriptSrc.forEach(function(src){ ?>
    <script <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> ></script>
    <?js }) ?>
    <?js } ?>

    <!-- Adding external style-->
    <?js if(this.dynamicStyleSrc != undefined) { ?>
    <?js this.dynamicStyleSrc.forEach(function(src){ ?>
    <link <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding scripts-->
    <?js if(this.includeScript != undefined) { ?>
    <?js this.includeScript.forEach(function(source){ ?>
    <script src="<?js= source ?>"></script>
    <?js }) ?>
    <?js } ?>

    <!-- Adding style-->
    <?js if(this.includeCss != undefined) { ?>
    <?js this.includeCss.forEach(function(source){ ?>
    <link type="text/css" rel="stylesheet" href="<?js= source ?>">
    <?js }) ?>
    <?js } ?>


    <title>
      <?js= title ?>
    </title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/third-party/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/reset.css">
    <link type="text/css" rel="stylesheet" href="styles/clean-jsdoc-theme-base.css">
    <link type="text/css" rel="stylesheet" href="styles/<?js= this.theme ?>">
    <?js if(this.dynamicStyle != undefined ) { ?>
    <style>
      <?js= this.dynamicStyle ?>
    </style>
    <?js } ?>
    <?js= this.partial('icons.tmpl') ?>

    <script src="scripts/third-party/tocbot.min.js"></script>
  </head>

  <body>

    <div class="sidebar-container">
      <?js= this.partial('sidebar.tmpl') ?>
    </div>
    
    <div class="navbar-container" id="navbar">
      <?js= this.partial('navbar.tmpl') ?>
    </div>

    <div class="toc-container">
      <?js= this.partial('toc.tmpl') ?>
    </div>
    
    <div class="body-wrapper">
      <div class="main-content">
        <div class="main-wrapper">
          <?js= content ?>

          <?js if(this.footer) {?>

          <footer class="footer" id="footer">
            <div class="wrapper">
              <?js= this.footer ?>
            </div>
          </footer>
          <?js } ?>
        
        </div>
      </div>

    </div>

    <script src="scripts/third-party/prettify.js"></script>
    <script src="scripts/third-party/lang-css.js"></script>
    <script type="text/javascript" src="scripts/misc.js"></script>

    <script>prettyPrint();</script>
    <script src="scripts/linenumber.js"></script>
    <script src="scripts/fix-code-block.js"></script>
    <?js if(this.search.options !== 'false') { ?>
      <script src="scripts/search.js"></script>
      <script src="scripts/third-party/fuse.js"></script>
      <script>
        var list = [<?js= this.search.list ?>];
        var options = <?js= this.search.options ?>
          setupSearch(list, options)
      </script>
    <?js } ?>

    <?js if(this.dynamicScript != undefined ) { ?>
    <script type="text/javascript">
        <?js= this.dynamicScript ?>
    </script>
    <?js } ?>


    <script type="text/javascript">
      tocbot.init({
        tocSelector: '#toc',
        contentSelector: '.main-content',
        headingSelector: 'h1, h2, h3, h4',
        hasInnerContainers: true,
        scrollContainer: '.main-content',
      });

    </script>

  </body>

</html>
