<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?js if(this.meta != undefined ) { ?>
      <?js this.meta.forEach(function(data){ ?>
        <?js= data ?>
      <?js }) ?>
    <?js } ?>
    <title><?js= title ?></title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/third-party/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="styles/third-party/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/clean-jsdoc-theme-base.css">
    <link type="text/css" rel="stylesheet" href="styles/<?js= this.theme ?>">
    <?js if(this.dynamicStyle != undefined ) { ?>
      <style>
        <?js= this.dynamicStyle ?>
      </style>
    <?js } ?>
    <?js if(this.dynamicScriptSrc != undefined ) { ?>
      <?js this.dynamicScriptSrc.forEach(function(source){ ?>
        <script src="<?js= source ?>"></script>
      <?js }) ?>
    <?js } ?>
    <?js if(this.dynamicStyleSrc != undefined ) { ?>
      <?js this.dynamicStyleSrc.forEach(function(source){ ?>
        <link type="text/css" rel="stylesheet" href="<?js= source ?>">
      <?js }) ?>
    <?js } ?>
<?js= this.partial('icons.tmpl') ?>
</head>
<body>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav>
    <?js= this.nav ?>
</nav>

<div id="main">
    <?js if (title != 'Home') { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
</div>

<br class="clear">

<footer>
  <?js= this.footer ?>
</footer>

<script src="scripts/third-party/prettify.js"></script>
<script src="scripts/third-party/lang-css.js"></script>
<script src="scripts/search.js"></script>
<script src="scripts/third-party/fuse.js"></script>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<script>
var list = [<?js= this.searchList ?>];
setupSearch(list)
</script>

 <?js if(this.dynamicScript != undefined ) { ?>
  <script type="text/javascript">
    <?js= this.dynamicScript ?>
  </script>
<?js } ?>
<script type="text/javascript" src="scripts/misc.js"></script>
</body>
</html>
