<?js
    var data = this.navbar;
?>

<nav class="navbar">
    <div class="navbar-left-items">
        <?js 
            if(data.menu) { ?>
            <?js 
                data.menu.forEach(function(item) {
                    var className = item.class || '';
                    var id = item.id || '';
                    var target = item.target || '';
                    className += ' navbar-item'
                    ?>
                    
        <div class="<?js=className ?>"> 
            <a id="<?js= id ?>" href="<?js= item.link ?>" target="<?js= target ?>">
                <?js= item.title?>
            </a>
        </div>

            <?js
                })
            }
        ?>

    </div>

    <div class="navbar-right-items">
        <div class="navbar-right-item">
            <button class="icon-button" id="search-button">
                <svg><use xlink:href="#search-icon"></use></svg>
            </button>
        </div>
        <div class="navbar-right-item" >
            <button class="icon-button" id="theme-toggle">
                <svg><use id="theme-svg-use" xlink:href="#<?js= this.theme?>-theme-icon"></use></svg>
            </button>
        </div>
        <div class="navbar-right-item" >
            <button class="icon-button" id="font-size">
                <svg><use xlink:href="#font-size-icon"></use></svg>
            </button>
        </div>
    </div>
<nav>