<nav class="navbar">
    <div class="navbar-left-items">
        <div class="navbar-item">
            <a>Github</a>
        </div>
        <div class="navbar-item">
            <a>npm</a>
        </div>
        <div class="navbar-item">
            <a>Website</a>
        </div>
    </div>

    <div class="navbar-right-items">
        <div class="navbar-item">
            Right
        </div>
    </div>
<nav>