<div class="search-container" id="search-container" style="display: none">
    <div class="wrapper" id="search-wrapper">
        <button class="icon-button search-close-button" id="search-close-button" aria-label='close search'>
            <svg>
                <use xlink:href="#close-icon"></use>
            </svg>
            
        </button>
        <div class="search-box-c">
            <svg><use xlink:href="#search-icon"></use></svg>
            <input type="text" id="search-input" class="search-input" placeholder="Search..." autofocus>
        </div>
        <div class="search-result-c" id="search-result-c">
            Type anything to view search result
        </div>
    </div>
</div>