<?js
    var data = this.sidebar

        if(data.title.isHTML) { ?>
            <?js= data.title.title ?>
        <?js } else { ?>

            <a href="<?js= this.baseURL ?>" class="sidebar-title"><?js= data.title.title ?></a>

    <?js } ?>