<?js 
?>
<nav class="navbar" id="navbar">
    <?js= this.nav ?>
    <?js if(this.resizeable.navbar !== undefined) { ?>
    <div class="navbar-resize" id="navbar-resize">
        <div class="resize-dots-container">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        </div> 
    </div>
    <?js } ?>

</nav>
<div class="navbar-ham" id="navbar-ham">
    <div>
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    </div>
</div>