<?js
    var data = obj;
?>
    <section id="source-page">
        <article>
            <pre class="prettyprint source lang-js"><code><?js= data.code ?></code></pre>
        </article>
    </section>