@font-face {
    font-family: 'heading';
    src: url('../fonts/Muli-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'code';
    src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}

.main-content {
    /**
    * This should match with the width of the nav / sidebar.
    */
    margin-left: 18.75rem;
    padding: 1rem 2rem;
}

.navbar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 18.75rem;    
}

.navbar-heading {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 1rem;
}

.navbar-heading-text {
    font-size: 1.8rem;
}
