body {
    background-color: #121216;
    color: #f8f8f9;
}

a,
a:active {
    color: #005bff;
}

hr {
    border: 1px solid #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f8f8f9;
}

h1 {
    border-bottom: 0.0625rem solid #333;
}

.navbar {
    background: #000;
}


.search-box-input-container {
    background: #2a2b2c;
}

.search-icon {
    fill: #aeaeae;
}

.search-box-input {
    color: #fff;
}

.search-box-input::placeholder {
    color: #aeaeae;
}

.search-box-input:focus + .search-icon {
    fill: #fff;
}

.search-item-ul {
    background: #333;
}

.search-item-ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.search-item-ul a {
    color: #fff;
}

.accordion-heading {
    color: #fff;
    fill: #fff;
}

.accordion-content {
    background: #111;
}

.accordion-content a {
    color: #fff;
}

.menu-link {
    color: #fff;
}
