@font-face {
    font-family: 'heading';
    src: url('../fonts/Muli-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'code';
    src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}

/*
* Padding horizontal normal
*/

.body-wrapper {
    display: flex;
    height: 100vh;
}

.sidebar-container {
    width: 25rem;
    padding: 1rem;
    display: flex;
}

.sidebar {
    border-radius: 1rem;
    flex: 1;
    padding: 1.5rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar .title {
    margin: 0;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: heading;
}

.sidebar-items-container {
    margin-top: 5rem;
    overflow: auto;
    flex: 1;
}

.sidebar-section-title {
    padding: 0.5rem 2rem;
    font-family: heading;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.with-arrow {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.with-arrow div {
    flex: 1;
}

.with-arrow svg {
    height: 1rem;
    width: 1rem;
    transition: transform 0.3s;
}

.with-arrow[data-isopen='true'] svg {
    transform: rotate(180deg);
}

.sidebar-section-children-container {
    border-radius: 0.5rem;
}

.sidebar-section-children a {
    display: block;
    width: 100%;
    padding: 0.25rem 2rem;
}

.sidebar-section-children a {
    text-decoration: none;
}

.with-arrow[data-isopen='false'] + .sidebar-section-children-container {
    height: 0;
    overflow: hidden;
}

.with-arrow[data-isopen='true'] + .sidebar-section-children-container {
    height: auto;
}

.toc-container {
    width: 20rem;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    padding: 1rem 4rem 1rem 2rem;
    flex: 1;
    max-width: 60rem;
}

.navbar-left-items {
    display: flex;
    flex: 1;
}

.navbar-right-items {
    display: flex;
}

.navbar-item {
    border-radius: 0.5rem;
    overflow: hidden;
}

.navbar-item a {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 0.3s;
}

.main-content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    width: 100%;
    max-width: 60rem;
    padding: 2rem 4rem;
}

.p-h-n {
    padding: 0.4rem 1rem;
}

.footer {
    width: 100%;
    border-radius: 1rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

.footer .wrapper {
    flex: 1;
    padding: 1rem 2rem;
    max-width: 70rem;
}

pre {
    position: relative;
}

.pre-top-bar-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0.3125rem 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.code-copy-icon-container {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 1.875rem;
    justify-content: center;
    transition: 0.3s;
    width: 1.875rem;
}

.code-copy-icon-container > div {
    margin-top: 0.25rem;
    position: relative;
}

.sm-icon {
    height: 1rem;
    width: 1rem;
}

.code-lang-name {
    font-family: 'code';
    font-size: 12px;
}

.tooltip {
    border-radius: 5px;
    opacity: 0;
    padding: 3px 8px;
    position: absolute;
    right: 30px;
    top: -2px;
    transform: scale(0);
    transition: 0.3s;
}

.show-tooltip {
    opacity: 1;
    transform: scale(1);
}

.allow-overflow {
    overflow: auto;
}

.bold {
    font-family: heading;
}

@media screen and (max-width: 50em) {
    .navbar-ham {
        display: block;
    }

    .navbar {
        transition: 0.3s;
        width: 0 !important;
    }

    .navbar.expanded {
        right: 0;
        width: 100% !important;
    }

    .navbar:hover .navbar-resize,
    .navbar-resize {
        display: none;
    }

    .main-content,
    .footer {
        margin-left: 0 !important;
        padding: 1rem;
    }

    .method-member-container {
        overflow: auto;
    }
}

@media screen and (max-width: 98em) {
    .toc-container {
        display: none;
    }
}

.rel {
    position: relative;
}
