body {
    background-color: #fff;
    color: #2f343a;
}

a,
a:active {
    color: #530fff;
}

hr {
    border: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

h1 {
    border-bottom: 0.0625rem solid #eee;
}

.navbar {
    background: #f8f8fa;
}
