@font-face {
    font-family: 'heading';
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'code';
    src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

html,
body {
    min-height: 100%;
    width: 100%;
    line-height: 1.75;
}

body {
    font-family: 'body';
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'heading';
    font-weight: normal;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    margin: 2rem 0;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 1rem 0;
}

article ul {
    list-style: none;
    padding-left: 1rem;
}

article ul li::before {
    content: '\2014\a0';
    margin-right: 0.5rem;
}

article ul li,
article ol li {
    padding: 0.5rem 0;
}

article ol {
    padding-left: 1rem;
}

/* stylelint-disable-next-line */
ol.linenums li {
    padding: 0;
}

.variation {
    display: none;
}

.signature-attributes {
    font-style: italic;
    font-weight: lighter;
}

.ancestors a {
    text-decoration: none;
}

.important {
    font-weight: bold;
}

.yes-def {
    text-indent: -1000px;
}

.signature {
    font-family: 'code';
}

.name {
    font-family: 'code';
    font-weight: bold;
}

blockquote {
    font-size: 0.875rem;
    padding: 0.0625rem 1.25rem;
    border-radius: 1rem;
}

.details {
    border-radius: 1rem;
    margin: 1rem 0;
}

.details .details-item-container {
    display: flex;
    padding: 1rem 2rem;
}

dt {
    font-family: heading;
}

.details dt {
    float: left;
    min-width: 180px;
    padding: 0 10px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    word-break: break-word;
}

.details ul li::before {
    content: '';
    margin: 0;
}

/* stylelint-disable-next-line */
.details ul li p {
    margin: 0;
}

/* stylelint-disable */
.details pre.prettyprint {
    margin: 0;
}
/* stylelint-enable */

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 32px;
}

.method-member-container table {
    margin-top: 15px;
}

.code-caption {
    font-size: 0.875rem;
}

.prettyprint {
    font-size: 0.875rem;
    overflow: auto;
}

pre.prettyprint {
    margin-top: 3rem;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    display: block;
    font-size: 1rem;
    line-height: 1.75;
    padding: 0 0 1rem;
}

.params,
.props,
table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin: 0;
    width: 100%;
}

table td:first-child,
.params td:first-child,
table thead th:first-child,
.params thead th:first-child,
.props thead th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

table td:last-child,
.params td:last-child,
table thead th:last-child,
.params thead th:last-child,
.props thead th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

table th,
.params th {
    position: sticky;
    top: 0;
}

.params .name,
.props .name,
.name code {
    font-family: 'code';
    font-size: 1rem;
}

.params td,
.params th,
.props td,
.props th,
th,
td {
    display: table-cell;
    margin: 0;
    padding: 1rem 2rem;
    text-align: left;
    vertical-align: top;
}

.params thead tr,
.props thead tr {
    font-weight: bold;
}

/* stylelint-disable */
.params .params thead tr,
.props .props thead tr {
    font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

dl.param-type {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

/* stylelint-enable */

.param-type dt,
.param-type dd {
    display: inline-block;
}

.param-type dd {
    font-family: 'code';
    font-size: 1rem;
}

code {
    border-radius: 0.3rem;
    font-family: 'code';
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
}

.mt-20 {
    margin-top: 1.5rem;
}

.codepen-form {
    bottom: 0;
    position: absolute;
    right: 0.6125rem;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.sidebar-container {
    position: fixed;
    display: flex;
    padding: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25rem;
    z-index: 10;
}

.sidebar {
    border-radius: 1rem;
    flex: 1;
    padding: 1.5rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar .title {
    margin: 0;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: heading;
}

.sidebar-items-container {
    margin-top: 5rem;
    overflow: auto;
    flex: 1;
    position: relative;
}

.sidebar-section-title {
    padding: 0.5rem 2rem;
    font-family: heading;
    font-size: 1.25rem;
    border-radius: 1rem;
}

.with-arrow {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.with-arrow div {
    flex: 1;
}

.with-arrow svg {
    height: 1rem;
    width: 1rem;
    transition: transform 0.3s;
}

.with-arrow[data-isopen='true'] svg {
    transform: rotate(180deg);
}

.sidebar-section-children-container {
    border-radius: 0.5rem;
    overflow: hidden;
}

.sidebar-section-children a {
    display: block;
    width: 100%;
    padding: 0.25rem 2rem;
}

.sidebar-section-children a {
    text-decoration: none;
}

.with-arrow[data-isopen='false'] + .sidebar-section-children-container {
    height: 0;
    overflow: hidden;
}

.with-arrow[data-isopen='true'] + .sidebar-section-children-container {
    height: auto;
}

.toc-container {
    position: fixed;
    top: 0;
    right: 4rem;
    bottom: 0;
    width: 16rem;
    z-index: 10;
}

.toc-content {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#toc {
    margin: 2rem 0;
    flex: 1;
    overflow: auto;
}

.toc-list {
    padding-left: 1rem;
    list-style: none;
}

.toc-link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.toc-link.is-active-link {
    font-family: heading;
}

.has-anchor {
    position: relative;
}

.link-anchor {
    padding: 0 0.5rem;
}

.has-anchor .link-anchor {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    text-decoration: none;
    visibility: hidden;
}

.has-anchor:hover .link-anchor {
    visibility: visible;
}

.navbar-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 25rem;
    right: 25rem;
    height: 7rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    padding: 1rem 4rem 1rem 2rem;
    flex: 1;
    max-width: 60rem;
}

.navbar-left-items {
    display: flex;
    flex: 1;
}

.navbar-right-items {
    display: flex;
}

.navbar-item {
    border-radius: 0.5rem;
    overflow: hidden;
}

.navbar-item a {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 0.3s;
}

.main-content {
    position: relative;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 25rem 0;
}

.main-wrapper {
    width: 100%;
    max-width: 60rem;
    padding: 0 4rem 1rem;
}

.p-h-n {
    padding: 0.4rem 1rem;
}

.footer {
    width: 100%;
    margin: 5rem 0 0 0;
    border-radius: 1rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

.footer .wrapper {
    flex: 1;
    padding: 1rem 2rem;
    max-width: 70rem;
}

pre {
    position: relative;
}

.hljs table td {
    background: transparent;
    padding: 0 0.6125rem;
    line-height: 1.5;
    border-radius: 0;
}

.hljs .hljs-ln-numbers {
    width: 2rem;
    white-space: nowrap;
    user-select: none;
    padding-left: 1.5rem;
}

.pre-div {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0;
}

.pre-top-bar-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0.3125rem 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.code-copy-icon-container {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 1.875rem;
    justify-content: center;
    transition: 0.3s;
    width: 1.875rem;
}

.code-copy-icon-container > div {
    margin-top: 0.25rem;
    position: relative;
}

.sm-icon {
    height: 1rem;
    width: 1rem;
}

.code-lang-name {
    font-family: 'body';
    font-size: 0.75rem;
}

.tooltip {
    border-radius: 0.3125rem;
    opacity: 0;
    padding: 0.1875rem 0.5rem;
    position: absolute;
    right: 2rem;
    top: -0.125rem;
    transform: scale(0);
    transition: 0.3s;
}

.show-tooltip {
    opacity: 1;
    transform: scale(1);
}

.allow-overflow {
    overflow: auto;
}

.bold {
    font-family: heading;
}

@media screen and (max-width: 50em) {
}

@media screen and (max-width: 100em) {
    .toc-container {
        display: none;
    }

    .main-content {
        padding: 7rem 0 0 25rem;
    }

    .navbar-container {
        /* For scrollbar */
        right: 1rem;
    }
}

.rel {
    position: relative;
}
