::selection {
    background: #ffce76;
    color: #222;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

a,
a:active {
    color: #00bbff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

.sidebar {
    background-color: #222;
    color: #999;
}

.sidebar .title {
    color: #999;
}

.sidebar-section-title {
    color: #999;
}

.sidebar-section-title:hover {
    background: #252525;
}

.with-arrow {
    fill: #999;
}

.sidebar-section-children-container {
    background: #292929;
}

.sidebar-section-children a:hover {
    background: #2c2c2c;
}

.sidebar-section-children a {
    color: #fff;
}

.navbar-container {
    background: #1a1a1a;
}

.navbar-item a {
    color: #999;
}

.navbar-item a:active {
    color: #aaa;
    background-color: #222;
}

.navbar-item:hover {
    background: #202020;
}

.footer {
    background: #222;
    color: #999;
}

.footer a {
    color: #999;
}

.toc-link {
    color: #777;
    transition: color 0.3s;
    font-size: 0.875rem;
}

.toc-link.is-active-link {
    color: #fff;
}

.has-anchor .link-anchor {
    color: #555;
}

.has-anchor .link-anchor:hover {
    color: #888;
}

tt,
code,
kbd,
samp {
    background: #222;
}

.signature-attributes {
    color: #aaa;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
}

.important {
    color: #950b02;
}

.type-signature {
    color: #00918e;
}

.name,
.name a {
    color: #f7f7f7;
}

.details {
    background: #222;
    color: #fff;
}

.details a {
    color: #fff;
}

.prettyprint,
.pre-top-bar-container {
    background: #222;
}

.member-item-container strong,
.method-member-container strong {
    color: #fff;
}

.pre-top-bar-container {
    background: #292929;
}

.prettyprint.source,
.prettyprint code {
    background-color: #222;
}

.prettyprint.linenums li {
    border-left: 3px #222831 solid;
}

/* stylelint-disable */
.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: #404040;
}
/* stylelint-enable */

table .name,
.params .name,
.props .name,
.name code {
    color: #fff;
}

table td,
.params td {
    background-color: #292929;
}

table thead th,
.params thead th,
.props thead th {
    background-color: #222;
    color: #fff;
}

/* stylelint-disable */
table .params thead tr,
.params .params thead tr,
.props .props thead tr {
    background-color: #222;
    color: #fff;
}

.disabled {
    color: #aaaaaa;
}

.code-copy-icon-container {
    fill: #fff;
}

.code-copy-icon-container:hover {
    background-color: #333;
}

.code-lang-name {
    color: #ff8a00;
}

.tooltip {
    background: #ffce76;
    color: #222;
}

.tooltip .pun,
.tooltip .typ {
    background: #ffce76;
    color: #222;
}

/* code */
.pln {
    color: #ffdd4a;
}

.str {
    color: #56e39f;
}

/* a keyword */
.kwd {
    color: #08b2e3;
}

/* a comment */
.com {
    color: #999;
}

/* a type name */
.typ {
    color: #ef6f6c;
}

/* a literal value */
.lit {
    color: #f5d67b;
}

/* punctuation */
.pun {
    color: #5adbff;
}

/* lisp open bracket */
.opn {
    color: #72e0d1;
}

/* lisp close bracket */
.clo {
    color: #72e0d1;
}

/* a markup tag name */
.tag {
    color: #007bff;
}

/* a markup attribute name */
.atn {
    color: #f5d67b;
}

/* a markup attribute value */
.atv {
    color: #3e999f;
}

/* a declaration */
.dec {
    color: #f5871f;
}

/* a variable name */
.var {
    color: #f5d67b;
}

/* a function name */
.fun {
    color: #4271ae;
}

blockquote {
    background: #222;
    color: #fff;
}

ol.linenums li {
    color: #fff;
}

code {
    background: #333;
    color: #fff;
}
