::selection {
    background: #ffce76;
    color: #1d1919;
}

body {
    background-color: #fff;
    color: #111;
}

a,
a:active {
    color: #007bff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
}

.sidebar {
    background-color: #f7f7f7;
    color: #222;
}

.sidebar .title {
    color: #222;
}

.sidebar-section-title {
    color: #222;
}

.sidebar-section-title:hover {
    background: #eee;
}

.with-arrow {
    fill: #111;
}

.sidebar-section-children-container {
    background: #eee;
}

.sidebar-section-children a:hover {
    background: #e0e0e0;
}

.sidebar-section-children a {
    color: #111;
}

.navbar-container {
    background: #fff;
}

.navbar-item a {
    color: #222;
}

.navbar-item a:active {
    color: #333;
    background-color: #eee;
}

.navbar-item:hover {
    background: #f7f7f7;
}

.footer {
    background: #f7f7f7;
    color: #111;
}

.footer a {
    color: #111;
}

.toc-link {
    color: #aaa;
    transition: color 0.3s;
    font-size: 0.875rem;
}

.toc-link.is-active-link {
    color: #111;
}

.has-anchor .link-anchor {
    color: #ddd;
}

.has-anchor .link-anchor:hover {
    color: #ccc;
}

.signature-attributes {
    color: #aaa;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
}

.important {
    color: #950b02;
}

.type-signature {
    color: #00918e;
}

.name,
.name a {
    color: #293a80;
}

.details {
    background: #f9f9f9;
    color: #101010;
}

.details a {
    color: #111;
}

.member-item-container strong,
.method-member-container strong {
    color: #000;
}

.prettyprint {
    background: #f7f7f7;
}

.pre-div {
    background: #f7f7f7;
}

.hljs .hljs-ln-numbers {
    color: #aaa;
}

.hljs .selected {
    background: #ccc;
}

.hljs .selected .hljs-ln-numbers {
    color: #444;
}

.pre-top-bar-container {
    background-color: #eee;
}

.prettyprint code {
    background-color: #f7f7f7;
}

table .name,
.params .name,
.props .name,
.name code {
    color: #4d4e53;
}

table td,
.params td {
    background: #f7f7f7;
}

table thead th,
.params thead th,
.props thead th {
    background-color: #eee;
    color: #111;
}

/* stylelint-disable */
table .params thead tr,
.params .params thead tr,
.props .props thead tr {
    background-color: #eee;
    color: #111;
}

.disabled {
    color: #454545;
}

.code-copy-icon-container {
    fill: #111;
}

.code-copy-icon-container:hover {
    background-color: #ddd;
}

.code-lang-name {
    color: #ff0000;
}

.tooltip {
    background: #ffce76;
    color: #000;
}

.tooltip .pun,
.tooltip .typ {
    background: #ffce76;
    color: #000;
}

/* Code */

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/* Code Ends */

blockquote {
    background: #eee;
    color: #111;
}

ol.linenums li {
    color: #fff;
}

code {
    background: #eee;
    color: #000;
}
